# Database connections - remove which is not used
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"
DATABASE_URL="mysql://username:password@localhost:3306/database_name"
DATABASE_URL="sqlite:///path/to/database.sqlite"

# Ports
APP_PORT=5200
DOCS_PORT=6200

# Secrets
JWT_ACCESS_SECRET="secret-for-access-token"
JWT_REFRESH_SECRET="secret-for-refresh-token"